OP_CMD="op"
if [[ $(grep -i Microsoft /proc/version) ]]; then
        OP_CMD="op.exe"
fi

export DOCKER_USERNAME=$(${OP_CMD} item get "Docker" --fields="username") 
export DOCKER_PASSWORD=$(${OP_CMD} item get "Docker" --fields="personal access token") 
export HUGGINGFACE_TOKEN=$(${OP_CMD} item get "Hugging Face" --fields "Read API Key")
